*{
    background-color: #ededed;
}
.land-pad{
    padding: 1rem;
}

.std-pad{
    padding: 1rem;
}

.min-pad{
    padding: 0.2rem;
}

#null-pad{
    padding: 0;
}


/* hero section */
#hero{
    padding: 5rem 0;
}

/* features section */
#features{
    text-align: center;
}

/* DESIGN SECTION  */

.design{
    padding: 4rem 0;
}

/* DESIGN TOP  */
.design-left{
    text-align: right;
    align-self: center;
}

.design-right{
    align-self: center;
}

/* DESIGN BOTTOM IMAGE */
.design-left2{

}


.design-right-2{
    background-color: hsla(0, 0%, 86%, 0.8);
    align-self: center;
    line-height: 1.6;
}

.design-image{
    width: 85vw;
    max-width: 700px;
    max-height: 400px;
    object-fit:cover;
}


@media (min-width:768px){
    .std-pad{
        padding: 1rem 2rem;
    }

    .land-pad{
        padding: 1rem;
    }

    

}

@media (min-width:992px){
    .std-pad{
        padding: 3% 15%;
    }

    .land-pad{
        padding: 1rem 15%;
    }

    

}