h1 h2 h3 h4 h5 p {
  font-family: "Libre Baskerville", sans-serif;
}

.land-pad {
  padding: 1rem;
}

.std-pad {
  padding: 1rem;
}

.min-pad {
  padding: 0.2rem;
}

#null-pad {
  padding: 0;
}

.light-section {
}

.dark-section {
  color: #ffffff;
  opacity: 0.9;
}

h2 {
    font-size: 5rem;
    font-weight: 900;
    border: 1px red solid
}

/* NAVBAR */

.nav-item{
    text-align: right;
}

/* brand */
.brand-long {
  font-family: "Libre Baskerville", serif;
  letter-spacing: -4px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.2rem;
  display: flex;
  position: relative;
  top: 10px;
}

.brand-mid {
  transform: rotate(270deg);
  font-size: 1rem;
  font-weight: 700;
  align-self: center;
  position: relative;
  left: 2px;
  letter-spacing: 0;
}

/* nav */
.navbar-nav{
    font-weight: 100;
    font-size: 1.3rem;
}




/* hero section */
#hero {
  padding-top: 14vh;
  padding-bottom: 14vh
}

.land-pad {
  background:
    /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6)
    ),
    /* bottom, image */
      url("https://b-737.github.io/Houdt-van-Oud/resources/images/herodark-sm.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  background-position: center -1px;
}

.land-pad h1 {
  margin-top: 3rem;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1.5;
}

.land-pad .btn {
  margin-right: 1rem;
  margin-top: 1rem;
  opacity: 0.9;
}

/* features */
#features {
  text-align: center;
  opacity: .9;
}

/* ANNO 2017 */
#anno {
    padding-top: 15vh;
    padding-bottom: 15vh;
    background:
      /* top, transparent black, faked with gradient */ linear-gradient(
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0.9)
      ),
      /* bottom, image */
        url(/resources/images/theowner-sm.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center -1px;
  }
  
  .anno{
  }

  .anno-quote{
    padding-top: 5rem;
    text-align: end;
  }





/* DESIGN */

.design {
  padding: 4rem 0;
}

/* design top part  */
.design-left {
  text-align: right;
  align-self: center;
}

.design-right {
  align-self: center;
}

/* bottom-image */
.design-left2 {
}

.design-right-2 {
  background-color: hsla(0, 0%, 86%, 0.8);
  align-self: center;
  line-height: 1.6;
}

.design-image {
  width: 85vw;
  max-width: 700px;
  max-height: 400px;
  object-fit: cover;
}

/* IPAD'ISH for devices with a with of AT LEAST 768px wide */
@media (min-width: 768px) {

    /* LANDING */
  .land-pad h1 {
    font-size: 3rem;

  }

  .std-pad {
    padding: 2% 8%;
  }

  .land-pad {
    padding: 2% 8%;
  }
}

/* LAPTOP'ISH for devices with a width of ATLEAST 992px */
@media (min-width: 992px) {

    /* LANDING */
    .land-pad h1 {
        font-size: 3rem;
    
      }

    .land-pad {
        background:
          /* top, transparent black, faked with gradient */ linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.6)
          ),
          /* bottom, image */
            url("https://b-737.github.io/Houdt-van-Oud/resources/images/herodark-lg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-position: center -1px;
      }

      #anno {
        padding-top: 10vh;
        padding-bottom: 10vh;
        background:
          /* top, transparent black, faked with gradient */ linear-gradient(
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0.9)
          ),
          /* bottom, image */
            url(/resources/images/theowner-lg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment:fixed;
        background-position: center -1px;
      }
      

  .std-pad {
    padding: 3% 15%;
  }

  .land-pad {
    padding: 3% 15%;
  }

}
